<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<body id="banner">

<div class="col-lg-12" id="title">

<h1 style="font-family: 'Oswald', sans-serif">About WasteNot</h1>

</div>

<div class="col-lg-2 col-lg-offset-5">

<img class="img-responsive" src="https://cdn.pixabay.com/photo/2013/07/12/16/57/banana-151553_960_720.png">

</div>

<div>

<p>WasteNot is a project developed by Max Chakhmatov and Michael Hennelly during UC Santa Barbara's SBHacks III. We came to SBHacks wanting to make a platform for people to more easily give away food that they would have otherwise</p>

</div>

</body>