<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div style="padding: 0px;" class="container-fluid">

	<div id="banner" class="col-lg-12">

		<div class="col-lg-12">

			<h1 style="font-family: 'Oswald', sans-serif" id="title">Welcome to WasteNot</h1>

		</div>

		<div class="col-lg-2 col-lg-offset-5">

			<img class="img-responsive" src="http://pngimg.com/upload/pizza_PNG7151.png">

		</div>

	</div>

</div>
 

<% @posts.each do |post| %>
<div id="title-test">
    <%= post.title %>
    <%= post.desc %>
</div>
<%end %>