<body>

	<div class="container-fluid">

		<div class="row">

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

		</div>

		<div class="row">

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

		</div>

		<div class="row">

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

			<div class="col-lg-4">

				<img class="img-responsive" src="http://www.the67stepsmentor.com/controller/themes/67steps/images/taistep.png">

			</div>

		</div>

	</div>

</body>