<body id="sign-in">

<div class="container-fluid">

<div class="col-lg-6 col-lg-offset-3">
<div class="row">
<%= @post.image %>
</div>
<div class="row">
<%= @post.title %>
</div>
<div class="row">
@post.description
</div>
</div>

</div>

</body>